<div class="student-page">

  <!-- Header -->
  <div class="page-header">
    <div>
      <h2>Student Management</h2>
      <p class="text-muted">
        Dashboard /
        <span class="fw-semibold">Students</span>
      </p>
    </div>
  </div>

  <!-- Student Card -->
  <div class="card student-card">

    <div class="card-body">

      <!-- Search -->
      <div class="row g-3 mb-4">

        <div class="col-md-8">
          <input
            type="text"
            class="form-control"
            placeholder="Search Student..."
            [(ngModel)]="searchText">
        </div>

        <div class="col-md-4">
          <select class="form-select">
            <option>All Courses</option>
            <option>Java Full Stack</option>
            <option>Angular</option>
            <option>Spring Boot</option>
            <option>MySQL</option>
          </select>
        </div>

      </div>

      <!-- Table -->
      <div class="table-responsive">

        <table class="table align-middle">

          <thead>

            <tr>
              <th>Student</th>
              <th>Email</th>
              <th>Course</th>
              <th>Status</th>
            </tr>

          </thead>
<tbody>

<tr *ngFor="let student of filteredStudents">

    <td>

        <div class="student-info">
            <div>

                <h6>{{student.name}}</h6>

            </div>

        </div>

    </td>

    <td>

        {{student.email}}

    </td>

   <td>
  <span *ngFor="let e of student.enrollments; let last = last">
    {{ e.courseTitle }}<span *ngIf="!last">, </span>
  </span>

  <span *ngIf="student.enrollments.length === 0">-</span>
</td>

    <td>

        <span class="status active">

            {{student.enrollments[0].status||'-'}}

        </span>

    </td>

</tr>

</tbody>

        </table>

      </div>

      <!-- Pagination -->

      <div class="pagination-section">

        <p class="text-muted mb-0">
          Showing {{filteredStudents.length}} of {{students.length}} Students
        </p>

        <ul class="pagination mb-0">

          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>

          <li class="page-item active">
            <a class="page-link">1</a>
          </li>

          <li class="page-item">
            <a class="page-link">Next</a>
          </li>

        </ul>

      </div>

    </div>

  </div>

</div>